---
import Layout from '../layouts/Layout.astro';
import LadingHeader from '../components/LadingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import ChargeSection from '../components/ChargeSection.astro';
import ModelX from '../components/ModelX.astro';
import ModelS from '../components/ModelS.astro';
import CyberTruck from '../components/CyberTruck.astro';
import Solar from '../components/Solar.astro';
import Solar_Roof from '../components/Solar_Roof.astro';
import Powerwall from '../components/Powerwall.astro';


---

<Layout title="Tesla">
	<LadingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<ChargeSection />
		</div>
		<div class="snap-center">
			<ModelX />
		</div>
		<div class="snap-center">
			<ModelS />
		</div>
		<div class="snap-center">
			<CyberTruck />
		</div>
		<div class="snap-center">
			<Solar />
		</div>
		<div class="snap-center">
			<Solar_Roof />
		</div>
		<div class="snap-center">
			<Powerwall />
		</div>
	</main>
</Layout>

