<section
class="  h-screen w-screen text-center overflow-hidden relative"
data-header-color="white">
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-6xl font-medium">CyberTruck</h2>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-6 flex mx-auto ">
        <a class="bg-[#201613] text-[#a2a3a5]  text-sm font-medium px-12 py-2 inline-block transition-colors" href="#">Order Now</a>

        <a class="bg-[#201613] border-[#393c41] text-sm font-medium text-[#a2a3a5] px-12 py-2 trasnsition-colors inline-flex justify-denter items-center" href="#">Demo drive</a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop-v3.png" srcset="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop-v3.png" alt="Cybertruck">
  </div>
</section>