---
import Logo from './Logo.astro'
import Global from '../../public/Global.astro'
import Support from '../../public/Support.astro'
import Account from '../../public/Account.astro'
---

<header
id="landing-header"
class="absolute py-3 px-10 flex items-center top-0 w-full justify-between z-40 ">
	<div class="flex flex-grow basis-0">
		<Logo />
	</div>

	<nav>
		<ul class="flex text-sm [&>li>a]:trasnsition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block} [&>li>a]:px-4 [&>li>a]:py-2">
			<li><a href="#">Model S</a></li>
			<li><a href="#">Model 3</a></li>
			<li><a href="#">Model X</a></li>
			<li><a href="#">Model Y</a></li>
			<li><a href="#">Powerwall</a></li>
			<li><a href="#">Carga</a></li>
		</ul>
	</nav>

	<nav class="flex flex-grow basis-0 justify-end">
		<ul class="flex space-x-2 text-sm [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block} [&>li>a]:px-4 [&>li>a]:py-2">
			<li><a href="#"><Support/></a></li>
			<li><a href="#"><Global/></a></li>
			<li><a href="#"><Account/></a></li>
		</ul>
	</nav>

	<div id="menu-backdrop"
	class={`absolute bg-black/5 backdrop-blur-lg rounded translate-x-[var(--left)] translate-y-[var(--top)] w-[var(--width)] h-[var(--higth)] transition-all duration-500 ease-in-out opacity-0 -z-10`}>
	</div>
</header>


// Neceisto ayuda porque no me sirve esta parte del Script donde la función una box cuando se hace hover sobre la lista
<script>
	const listItem = document.querySelector("#landing-header li")
	const menuBackDrop = document.querySelector("#menu-backdrop ") as HTMLElement

	listItem.forEach((item) => {
		item.addEvenListener("mouseenter", () => {
			const { left, top, width, height, } = item.getBoundingClientRect()

			menuBackDrop.style.setProperty("--left", `${left}px)`)
			menuBackDrop.style.setProperty("--top", `${top}px)`)
			menuBackDrop.style.setProperty("--width", `${width}px)`)
			menuBackDrop.style.setProperty("--height", `${height}px)`)

			menuBackDrop.style.opacity = "1"
			menuBackDrop.style.visibility = "visible"
		})

		item.addEvenListener("mouseleave", () => {
			menuBackDrop.style.opacity = "0"
			menuBackDrop.style.visibility = "hidden"
		})
	})
</script>


// Necesito ayuda en esta parte porque no me sirve el detector de cambiar los colores del texto del nav
<script>
	const headerEl = document.querySelector('landing-header') as HTMLElement

	const observerOptions = {
		root: null,
		rootMargin: '0px',
		threshold: 0.9,
	}

	const observer = new IntersectionObserver(entries => {
		entries.forEach(entry => {
			const { isIntersecting } = entry
			if (isIntersecting) {
				const color = entry.target.getAttribute('data-header-color')
				headerEl.style.color = color
			}
		})
	}, observerOptions)

	const sectionsElements = document.querySelectorAll("landing-section")
	sectionsElements.forEach((section) => observer.observe(section))
</script>